<app-game-table [gameId]="gameId"
                [firstBotName]="firstBotName"
                [secondBotName]="secondBotName">
</app-game-table>
<mat-card>
  <mat-card-content>
    <div class="row">
      <div class="col">
        <app-round-won-by [gameId]="gameId"></app-round-won-by>
      </div>
      <div class="col">
        <app-round-lost-by [gameId]="gameId"></app-round-lost-by>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<!--</app-game-table>-->
<!--<mat-grid-list [cols]="2" [rowHeight]="'fit'">-->
<!--  <mat-grid-tile>-->
<!--    <app-round-won-by [gameId]="gameId"></app-round-won-by>-->
<!--  </mat-grid-tile>-->
<!--  <mat-grid-tile>-->
<!--    <app-round-lost-by [gameId]="gameId"></app-round-lost-by>-->
<!--  </mat-grid-tile>-->
<!--</mat-grid-list>-->
