<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Capture network</h1>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/'"> Home </a>
      <app-main-menu-item mat-list-item *ngFor="let game of gameList" [gameDescription]="game"
        [routerLink]="['/game', game.GAME_ID]">
      </app-main-menu-item>
      <a mat-list-item (click)="sidenav.toggle()" mat-list-item>Close</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>